*{
    margin: 100;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
     background:rgba(246, 218, 246, 0.508);
     gap: 1rem;
     
}

.container-logos{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    
}

.icon{
    width: 4rem;
    height: 4rem;
    border-radius: 99999999rem;
}

h1{
    text-align: center;
    width: 37rem;
    padding: 1rem; 
    font-family:'Courier New', Courier, monospace;
    color: rgba(94, 6, 91, 0.823);
    font-weight: bold;
    font-style: inherit;

}

.container-img{
    display: flex;
  
    width: 100%;
    
}




.img{
    width: 250px;
    height: 300px;
    border-radius: 67px;
    margin-left: 800px;

}

summary{
        
    margin: 0 auto;  
    color: rgb(102, 63, 13);
    background-color: rgba(183, 115, 115, 0.414);
    width: 50%;
    border-radius: 500px;
    padding: 5px;

}
details{
    text-align: center;
}


header{
    
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    

}



nav{
    display: flex;
    gap:18rem;
    font-family:cursive ;
    margin-bottom: 5rem;
     
}



.vid{

    display: flex
    justify-content:flex-end;
    margin-left:40rem;
    
    
}

.section3{
   
   margin: right 1000rem;
   
    
}






